*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}


div label{
	display: none;
}
#btn-menu{
	display: none;
}

a, a:hover{
	text-decoration: none;
	cursor: pointer;
	color: #000;
}
.submenu ul li a:hover{
	background: #1a95d5;
	color: #fff;
}

ul{
	list-style: none;
}

li a{
	display: block;
	padding: 10px 15px;
	background: #e9e9e9;
}
.icon-down-open{
	float: right;
	margin-left: 10px;
}
.submenu ul li a{
	background: #ccc;
	font-size: 12px;
}

.activado > a{
	background: #1a95d5;
	color: #fff; 
}
.submenu ul{
	display: none;
}
.menu{
	margin-right: 100px;
}

#nav{
	margin-top: 50px;
	margin-right: 250px;
	font-size: 14px;
	min-width: 240px;
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	background: #e9e9e9;
}

.container{
	margin-left: 240px;
}