{% extends "base.html" %}
{% block titulo %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h2 class="h2">Alumnos</h2>
  <div class="btn-toolbar mb-5 mb-md-0">
  </div>
</div>
{% endblock %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-sm" id="tabla">
    <thead>
      <tr>
        <th>Matricula</th>
        <th>Nombre</th>
        <th>Grupo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for alumno in object_list %}
        <td>{{ alumno.matricula }}</td>
        <td>{{ alumno.nombre }}</td>
        <td>{{ alumno.grupo }}</td>
      </tr>
        {% empty %}
      <tr>
        <td colspan="5">No se encontraron registros</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
      var table = $('#tabla').DataTable({
        "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        }
      });
</script>

{% endblock %}