{% extends "base.html" %}

{% block titulo %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h2 class="h2"> Reportes Incidencias por Alumno </h2>
  <div class="btn-toolbar mb-5 mb-md-0">
    <div class="btn-group mr-5">
      <button type="button" class="btn btn-success" id="btnExportar">Exportar Excel</button>
      <button type="button" class="btn btn-danger" id="btnCrearPdf">Exportar PDF</button>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="table-responsive">
  <table class="table table-striped table-sm" id="tabla" style="background-color: white;">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>Solución</th>
        <th>Alumno</th>
        <th>Profesor</th>
        <th>Materia</th>
        <th>Parcial</th>
        <th>Semana</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        {% for problematica in lista %}
        <td>{{ problematica.tipo }}</a></td>
        <td>{{ problematica.descripcion }}</td>
        <td>{{ problematica.solucion }}</td>
        <td>{{ problematica.alumno.nombre }}
        {{ problematica.alumno.apellido_pat }}
        {{ problematica.alumno.apellido_mat }}</td>
        <td>{{ problematica.user.first_name }}
        {{ problematica.user.last_name }}</td>
        <td>{{ problematica.materia.nombre }}</td>
        <td>{{ problematica.parcial }}</td>
        <td>{{ problematica.semana }}</td>
        <td>{{ problematica.fecha }}</td>
        <td id="ignore">
          <a class="btn btn-primary" href="{% url 'updateProblematica' problematica.id %}"> Editar </a>
      </tr>
        {% empty %}
      <tr>
        <td colspan="5">No se encontraron registros</td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
</div>

</div>
<script type="text/javascript">
      var table = $('#tabla').DataTable({
        "language": {
          "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        }
      });
</script>

<script type="text/javascript">
//exportar a excel
  const $btnExportar = document.querySelector("#btnExportar"),
    $tabla = document.querySelector("#tabla");

$btnExportar.addEventListener("click", function() {
    let tableExport = new TableExport($tabla, {
        exportButtons: false, // No queremos botones
        filename: "Reportes_Incidencias_por_Alumno", //Nombre del archivo de Excel
        sheetname: "Incidencias_por_alumno", //Título de la hoja
    });
    let datos = tableExport.getExportData();
    let preferenciasDocumento = datos.tabla.xlsx;
    tableExport.export2file(preferenciasDocumento.data, preferenciasDocumento.mimeType, preferenciasDocumento.filename, preferenciasDocumento.fileExtension, preferenciasDocumento.merges, preferenciasDocumento.RTL, preferenciasDocumento.sheetname);
});

//exportar a pdf
   
$(function() { 
 $('#btnCrearPdf').click(function() {
  var options = {
  };
      var elementHandler = {
  '#ignore': function (element, renderer) {
    return true;
  }
};
  var pdf =  new jsPDF('l', 'mm', [297, 210]);
  pdf.setFontSize(40)
  pdf.text(20, 20, 'Incidencias del alumno \n')
  pdf.addHTML($("#tabla"), 0, 30, options, function() {
    pdf.save('Incidencias_por_alumno.pdf');
  });
 });
});


</script>
{% endblock %}
