{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h2 class="h2"> REPORTES </h2>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-3">
      <a href="/reportesFechas"  class="btn btn-info btn-lg"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Por Fecha </a>
    </div>
    <div class="col-lg-3">
      <a href="/reportesAlumnos"  class="btn btn-info btn-lg"><i class="fa fa-users" aria-hidden="true"></i> Por Alumno </a>
    </div>
         <div class="col-lg-3">
      <a href="/reportesGrupos"  class="btn btn-info btn-lg"><i class="fa fa-users" aria-hidden="true"></i> Por Grupo </a>
    </div>
     <div class="col-lg-3">
      <a href="/listProblematica" class="btn btn-info btn-lg"><i class="fa fa-list-alt" aria-hidden="true"></i> General </a>
    </div>
</div>


{% endblock %}