{% extends "base.html" %}

{% block titulo %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <h2 class="h2"> Selecciona un Alumno </h2>
</div>
{% endblock %}

{% block content %}

<form action="/RepAlum" method="GET">
 <div class="row">
    <div class="col-md-6">
        <div class="form-group">
          Grupo: <select name="gpo" id="gpo" class="form-control" style="width: 250px; border-radius: 5px; margin-right: 30px; margin-bottom: 25px;"></select>
          </div>
      </div>
 <div class="col-md-6">
        <div class="form-group">
            Alumno: <select name="nombre" id="nombre" class="form-control" style="width: 350px; border-radius: 5px; margin-right: 30px; margin-bottom: 25px;"></select>
          </div>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="CONFIRMAR">
</form>

<script type="text/javascript">
	$( document ).ready(datosGpos);
  $("#gpo").change(datosGpo);

function datosGpos(){
      var url = "{% url 'llenaGpo' %}";
      $.ajax({
        url: url,
        success: function (data) {
          $("#gpo").html(data);
        }
      });
    }

function datosGpo(){
      var url = "{% url 'llenaAl' %}";
      $.ajax({
        url: url,
        data: {
         'gpo': $("#gpo option:selected").text(),
        },
        success: function (data) {
          $("#nombre").html(data);
        }
      });
    }

</script>

{% endblock %}
